.line1 {
  margin: 70px auto 40px;
  width: 80%;
  align-items: center;
}

.abt-box {
  margin: 0 50px;
}

.abt-offer {
  margin: 0 50px;
}

.abt-offer h2 {
  font-size: 24px;
  font-weight: bold;
  color: #8e59f7;
}

.intro-txt {
  font-size: 24px;
  font-weight: bold;
  color: #8e59f7;
}

.abt-txt {
  font-size: 20px;
  color: rgba(54, 36, 87, 0.849);
  font-weight: 500;
}

.icon-li {
  list-style-type: none;
  font-weight: 600;
  color: rgba(54, 36, 87, 0.849);
  display: flex;
  gap: 5px;
}

.abt-skills h2 {
  margin-left: 50px;
  color: #8e59f7;
  font-weight: bold;
  font-size: 24px;
}

.stacks {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 85%;
}

.icon-img {
  width: 24px;
  height: 24px;
}

.offer {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.abt-giv {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8e59f7;
  width: 100%;
  border-radius: 40px 10px;
  padding: 10px;
}

.abt-giv:hover {
  background-color: rgba(54, 36, 87, 0.849);
  color: #8e59f7;
}

.abt-giv p {
  color: white;
  font-weight: bold;
}

.offer-img {
  width: 140px;
  height: 90px;
}

.off-img {
  width: 100px;
  height: 100px;
}

#abt-resume {
  display: flex;
  margin-top: 10px;
  gap: 8px;
  width: 300px;
  color: rgba(54, 36, 87, 0.849);
  font-weight: bold;
  font-size: 20px;
}

#abt-resume:hover {
  color: #8e59f7;
}

.abt-hire {
  background-color: rgba(54, 36, 87, 0.849);
  padding-top: 2px;
  border: 1px solid #fff;
  width: 90px;
  height: 30px;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  font-weight: 700;
}

.abt-hire:hover {
  background-color: #8e59f7;
}

.abt-action {
  margin: 30px 50px;
}

@media (min-width: 780px) {
  .offer-skills {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
  }

  #bck {
    background-color: rgba(54, 36, 87, 0.849);
  }

  #bck:hover {
    background-color: #8e59f7;
  }

  .abt-skills {
    border-right: 2px solid #8e59f7;
  }

  .offer {
    flex-direction: row;
  }
}
