@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  position: absolute;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #ecf0fb8c;
  overflow-x: hidden;
}

.App {
  height: 100%;
  width: 100%;
}

.home {
  background: linear-gradient(#8e59f79d 0%, #8e59f7 100%), url('./assets/images/office.png') ;
  background-repeat: no-repeat;
  background-position-x: center;
  border-radius: 0 0 0 60px;
  padding-bottom: 120px;
}

.social-media {
  display: flex;
  justify-content: flex-end;
}

.my-social {
  color: #2e273b70;
  list-style-type: none;
  margin: 180px 40px 0 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 36px;
}

.my-social li a {
  color: #2e273b70;
}

.my-social li a:hover {
  color: #ecf0fb8c;
}

#my-avatar {
  margin-top: 100px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.intro {
  width: 500px;
  text-align: center;
  flex-direction: column;
  font-size: 20px;
  margin-top: -350px;
}

.action {
  margin: auto;
  display: flex;
  width: 280px;
  gap: 8px;
  justify-content: space-between;
  padding: 215px 0 140px;
}

.download-icon {
  font-size: 30px;
}

#resume {
  display: flex;
  width: 300px;
  color: #fff;
}

#resume:hover {
  color: #ecf0fb8c;
}

.text {
  width: 300px;
  display: flex;
  flex-direction: column;
  color: #fff;
  line-height: 20px;
}

.hello {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  margin: 20px 40px;
}

.name {
  font-size: 30px;
  text-align: left;
  font-weight: bolder;
  color: #2e273b70;
  width: 400px;
  margin: 0 40px;
}

.role {
  text-align: left;
  font-size: 22px;
  font-weight: bold;
  margin: 20px 40px;
  width: 300px;
}

.hire {
  padding-top: 2px;
  background-color: #2e273b70;
  border: 1px solid #fff;
  width: 90px;
  height: 30px;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  font-weight: 700;
}

.hire:hover {
  background-color: #ecf0fb8c;
  color: #8e59f7;
}

.description {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  body {
    margin: 0;
    width: 100%;
  }

  .action {
    margin: auto;
  }
}
