@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #ecf0fb;
}

.App {
  height: 100%;
}

.home {
  padding: 0.1px 0 120px 0;
  background: linear-gradient(#8e59f79d 0%, #8e59f7 100%), url('./assets/images/office.png') ;
  background-repeat: no-repeat;
  background-position-x: center;
  border-radius: 0 0 0 60px;
}

.social-media {
  display: flex;
  justify-content: flex-end;
}

.my-social {
  color: #2e273b70;
  list-style-type: none;
  margin: 180px 40px 0 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 36px;
}

.my-social li a {
  color: #2e273b70;
}

#my-avatar {
  margin-top: 100px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.intro {
  width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin: 35px auto 0 auto;;
}

.action {
  margin-top: 50px;
  display: flex;
  width: 280px;
  gap: 8px;
  justify-content: space-between;
}

.download-icon {
  font-size: 30px;
}

#resume {
  display: flex;
  width: 300px;
  color: #fff;
}

.text {
  width: 300px;
  display: flex;
  flex-direction: column;
  color: #fff;
  line-height: 24px;
}

.hello {
  text-align: left;
  font-weight: bold;
  font-size: 24px;
  color: #fff;
}

.name {
  font-size: 40px;
  text-align: left;
  font-weight: bolder;
  color: #2e273b70;
  width: 500px;
}

.role {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}

.hire {
  padding-top: 2px;
  background-color: #2e273b70;
  border: 1px solid #fff;
  width: 90px;
  height: 30px;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  font-weight: 700;
}

.description {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
